<!DOCTYPE html>
<html>
  <head>
    <title>Invasion</title>
  </head>
  <body>
    <h1>Invasion</h1>
    <script type="x-template" id='template-chat'>
      <ul>
        <li v-for="msg in log">
          <strong>${msg.name}</strong>
          ${msg.content}
        </li>
      </ul>
      <input type="text" name="message" v-model="msg" @keyup.enter="send" placeholder="type your msg...">
    </script>
    <div id="chat"></div>
    <script type="text/javascript" charset="utf-8" src="/assets/dist/main.js"></script>
  </body>
</html>
