<!DOCTYPE html>
<html>
  <head>
    <title>Invasion</title>
  </head>
  <body>
    <h1>Invasion</h1>
    <div id="chat">
      <ul>
        <template v-for="msg in log">
          <li>
            <strong>${msg.name}</strong>
            ${msg.content}
          </li>
        </template>
      </ul>
      <input type="text" name="message" v-model="msg" @keyup.enter="send" placeholder="type your msg...">
    </div>
    <script type="text/javascript" charset="utf-8" src="/assets/dist/main.js"></script>
  </body>
</html>
